---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import type { Author } from "@/types/author";
import type { Blog } from "@/types/blog";
import BlogsGrid from "@/components/sections/BlogsGrid";

export async function getStaticPaths() {
  const categories = ["Felsefe", "Spor", "Edebiyat"];

  const items = categories.map((category) => {
    return {
      params: {
        categoryName: category,
      },
    };
  });

  return items;
}

const { categoryName } = Astro.params;
// @ts-ignore

const blogs = await contentfulClient.getEntries({
  content_type: "blogPage",
  "fields.category": categoryName,
});
---

<Layout title="Yazarlar" pathname="/yazarlar">
  <main class="">
    <div
      class="flex flex-col px-6 md:px-6 lg:px-12 xl:px-24 w-full text-center sm:text-left"
    >
      <h1 class="font-medium text-5xl my-2">{categoryName}</h1>
    </div>

    <div class="relative mx-6 md:mx-6 lg:mx-12 xl:mx-24 mt-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="bg-white pr-3 text-base leading-6 text-gray-600"
          >Yazilar</span
        >
      </div>
    </div>

    <!-- @ts-ignore -->
    <BlogsGrid blogs={blogs.items as Blog[]} />
  </main>
</Layout>
