---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import type { Magazine } from "../../types/magazine";
import PdfViewer from "@/components/pdfViewer";
// Import the styles
// import type { ContentfulResponse } from "@/types/magazine";

// @ts-ignore

export async function getStaticPaths() {
  const magazines = await contentfulClient.getEntries({
    content_type: "magazine",
  });

  const items = magazines.items.map((item) => {
    return {
      params: {
        magazineId: item.sys.id,
      },
    };
  });

  return items;
}

const { magazineId } = Astro.params;
// @ts-ignore
const magazine: Magazine = await contentfulClient.getEntry(
  magazineId as string
);
const { fields } = magazine;

// <iframe
//       src={fields.magazinePdf.fields.file?.url as string}
//       class="w-full h-screen"
//     >
//       <!-- Fallback content for browsers that don't support iframes --> <p>It
//       appears you don't have a PDF plugin for this browser. <a
//       href="path-to-your-pdf-file.pdf">Click here to download the PDF</a>.</p>
//     </iframe>
---

<Layout title={fields.name} pathname="/dergiler">
  <main class="">
    <h1 class="text-2xl font-bold text-center mb-4">{fields.name}</h1>
    <PdfViewer pdfUrl={fields.calameoLink} client:only />
  </main>
</Layout>
