---
import Layout from "../layouts/Layout.astro";
import MagazineHero from "@/components/sections/MagazineHero";
import MagazineGrid from "@/components/sections/MagazineGrid";
---

<Layout title="Welcome to Astro." pathname="/dergi">
  <main class="px-24">
    <MagazineHero />
    <MagazineGrid />
  </main>
</Layout>
