---
import Layout from "../layouts/Layout.astro";
import ContactUs from "@/components/sections/ContactUs";
export const prerender = true;
---

<Layout title="İletişim" pathname="/iletisim">
  <main>
    <ContactUs />
  </main>
</Layout>
