---
import Layout from "@/layouts/Layout.astro";
import Carousel from "@/components/carousel/Carousel";
import BlogsGrid from "@/components/sections/BlogsGrid";
import { contentfulClient } from "@/lib/contentful";

const blogs = await contentfulClient.getEntries({
  content_type: "blogPage",
});

export const prerender = true;
---

<Layout title="Falan Dergi" pathname="/">
  <main>
    <!-- @ts-ignore -->
    <Carousel client:load data={blogs.items} />
    <div class="pt-12 px-4 sm:px-4 md:px-12 lg:px-24">
      <div class="relative px-24">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <h2
            class="bg-white px-3 font-semibold leading-8 text-gray-900 text-3xl text-center"
          >
            En cok okunanlar
          </h2>
        </div>
      </div>
      <!-- @ts-ignore -->
      <BlogsGrid blogs={blogs.items} />
    </div>
  </main>
</Layout>
