---
import Layout from "@/layouts/Layout.astro";
import { content, latestMagazineId } from "@/store/store";
import type { Content } from "@/types/content";

import BlogsGrid from "@/components/sections/BlogsGrid";
import HeroSection from "@/components/sections/HeroSection";
import { contentfulClient } from "@/lib/contentful";

const blogsPromise = contentfulClient.getEntries({
  content_type: "blogPage",
  order: [`-fields.readCount`],
  limit: 6,
});

const mostRecentBlogsPromise = contentfulClient.getEntries({
  content_type: "blogPage",
  order: [`-sys.createdAt`],
  limit: 6,
});

const siteContentPromise = contentfulClient.getEntries({
  content_type: "siteContent",
});

const latestMagazinePromise = contentfulClient.getEntries({
  content_type: "magazine",
  order: [`-sys.createdAt`],
  limit: 1,
});

const [blogs, siteContent, mostRecentBlogs, latestMagazine] = await Promise.all(
  [
    blogsPromise,
    siteContentPromise,
    mostRecentBlogsPromise,
    latestMagazinePromise,
  ]
);

// @ts-ignore
const contentValue: Content = siteContent.items[0];

content.set(contentValue);
latestMagazineId.set(latestMagazine.items[0].sys.id);

export const prerender = true;
---

<Layout title="Falan Dergi" pathname="/">
  <main>
    <HeroSection
      content={contentValue}
      latestMagazineId={latestMagazine.items[0].sys.id}
    />
    <div class="relative px-24">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center">
        <h2
          class="bg-white px-3 font-semibold leading-8 text-gray-900 text-3xl text-center"
        >
          En son eklenenler
        </h2>
      </div>
    </div>
    <!-- @ts-ignore -->
    <BlogsGrid blogs={mostRecentBlogs.items} />
    <div class="relative px-24 mt-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center">
        <h2
          class="bg-white px-3 font-semibold leading-8 text-gray-900 text-3xl text-center"
        >
          En çok okunanlar
        </h2>
      </div>
    </div>
    <!-- @ts-ignore -->
    <BlogsGrid blogs={blogs.items} />
  </main>
</Layout>
