---
import Layout from "../layouts/Layout.astro";
import AuthorSearchSection from "@/components/sections/AuthorSearchSection";
import AuthorsSection from "@/components/sections/AuthorsGrid";
import { contentfulClient } from "@/lib/contentful";

const authors = await contentfulClient.getEntries({
  content_type: "author",
});

export const prerender = true;
---

<Layout title="Yazarlar" pathname="/yazarlar">
  <main class="px-12">
    <AuthorSearchSection client:idle />
    <!-- @ts-ignore -->
    <AuthorsSection client:idle authors={authors.items} response={authors} />
  </main>
</Layout>
