---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";

export async function getStaticPaths() {
  const authors = await contentfulClient.getEntries({
    content_type: "author",
  });

  const items = authors.items.map((item) => {
    return {
      params: {
        authorId: item.sys.id,
      },
    };
  });

  return items;
}

const { authorId } = Astro.params;
---

<Layout title="Yazarlar" pathname="/yazarlar">
  <p>{authorId}</p>
</Layout>
